@tailwind base;
@tailwind components;
@tailwind utilities;



form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  max-width: 400px;
  padding: 10px;
  outline: none;
  box-shadow: -9px 15px 38px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: -9px 15px 38px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 15px 38px -10px rgba(0,0,0,0.75);
  margin-bottom: 15px;
}

button{
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  padding: 10px 20px;
  transition: all 0.3s ease-in;
}

button:hover{
  background-color: white;
  color: black;

}