@tailwind base;
@tailwind components;
@tailwind utilities;



form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  max-width: 400px;
  padding: 10px;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 15px;
}

button{
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  padding: 10px 20px;
  transition: all 0.3s ease-in;
}

button:hover{
  background-color: white;
  color: black;

}

.list_1{
  margin-top: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.list_1 p {
  padding: 10px;
  margin: 5px;

}

.Cd{
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.Cd-text{
  font-weight: 500;
  font-size: 20px;
}